[Unit]

Description=webapp
After=network.target
ConditionPathExists=/opt/webapp

[Service] 

Type=simple 
EnvironmentFile=/etc/environment 
User=csye6225 
Group=csye6225  
ExecStart=/usr/bin/node /opt/webapp/server.js 
Restart=on-failure 
RestartSec=3 

[Install]

WantedBy=multi-user.target