[Unit]

Description=webapp
After=network.target
ConditionPathExists=/opt/webapp

[Service] 

Type=simple 
EnvironmentFile=/etc/environment 
User=csye6225_hinal
Group=csye6225_users  
ExecStart=/usr/bin/node /opt/webapp/server.js 
Restart=always 
RestartSec=3 

[Install]

WantedBy=multi-user.target